@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


/* HTML ROOT LIGHT COLORS */
html {
    --bg: #eceaea;
    --color-headings: #413f44;
    --color-text: #413f44;
    --yellow: #fab027;
    --red: #fa211d;
    --green: #07e75d;
}


/*  HTML ROOT DARK MODE COLORS */
html[data-theme='dark'] {
    --bg: #333333;
    --color-headings: #bbb9bd;
    --color-text: #ffffff;
}


/* HTML ROOT TRANSITION */
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: var(--bg);
    font-family: 'Montserrat', sans-serif;
}


/* COUNTER CONTAINER */
.counter-container {
    display: grid;
    align-items: center;
    justify-items: center;
}


/* CHECK BOX STYLINGS */
.toggle-container {
    position: absolute;
    top: 5%;
    right: 15%;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background: var(--color-headings);
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

.title h1 {
    font-size: 50px;
    padding: 30px 0px;
    color: var(--color-text);
}


.card {
    width: 550px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.count .card {
    display: none;
}

.img {
    width: 30%;
    height: 50%;
    min-height: 300px;
    min-width: 250px;
    border-radius: 30px;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.textBox>.text {
    font-weight: bold;
}

.textBox>.head {
    font-size: 25px;
}

.textBox>span {
    font-size: 15px;
    color: lightgrey;
}

/* === removing default button style ===*/
.begin {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

/*  styling for the box shadow button */
.begin {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.begin:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 30px var(--animation-color))
}

.card:hover>.textBox {
    opacity: 1;
}

.card:hover>.img {
    height: 65%;
    filter: blur(10px);
    animation: anim 3s infinite;
}

.card:hover {
    transform: scale(1.04) rotate(-1deg);
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}




/* COUNTER INNER BOX CONTAINER */
.cardContainer {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
}

.count .cardContainer {
    display: flex;
}

/* ROUND BALL BEHIND CARD */
.cardContainer::before {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    filter: blur(50px);
    z-index: -1;
    border-radius: 50%;
    left: 100px;
    top: 50px;
    transition: all 1s;
    background-color: var(--color-headings);
}


.cardContainer:hover::before {
    transform: translate(-50px, 50px);
}

.cardContainer .card:hover {
    transform: scale(1.1);
    border: 1px solid var(--color-headings);
}


/* COUNTER INNER BOX CONTAINER CONTENTS */
.inner-card {
    position: relative;
    width: 450px;
    height: 400px;
    display: flex;
    cursor: pointer;
    padding: 20px 10px;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(141, 140, 140, 0.37);
    transition: all 500ms cubic-bezier(0.23, 1, 0.320, 1);
}

.inner-card:hover {
    scale: 1.1;
}

/* ROUND COLOR CIRCLES NAVIGATION */
.toolsCard {
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 5px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
}

.red {
    background-color: var(--red);
    transition: all .3s ease;
    font-size: 0px;
    font-weight: 900;
}

.red:hover {
    font-size: 10px;
}

.red:after {
    content: "x";
    color: #333333;
    padding-bottom: 3px;
}

.yellow {
    background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}


.counter-content {
    flex-direction: column;
    display: flex;
    gap: 35px;
}

/* COUNTER NAME */
.header-name {
    margin: 20px 15px;
    font-weight: 900;
    font-size: 2em;
    text-align: center;
    letter-spacing: 2px;
    color: var(--color-headings);
    text-transform: uppercase;
}


/* THE NUMBER VALUE */
.value {
    color: var(--color-headings);
    letter-spacing: 2px;
    text-align: center;
    grid-area: content;
    font-weight: 600;
    font-size: 6em;
}


/* THE COUNT BUTTONS CONTAINER */
.buttonContainer {
    width: 100%;
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* THE COUNT BUTTONS */
.button {
    cursor: pointer;
    position: relative;
    padding: 10px 22px;
    font-size: 12px;
    height: 50px;
    width: 120px;
    border-radius: 34px;
    outline: none;
    font-weight: 600;
    overflow: hidden;
    text-transform: uppercase;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::before {
    content: '';
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    scale: 0;
    z-index: -1;
    position: absolute;
    border-radius: 34px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    scale: 3;
}

.button:hover {
    color: var(--color-text);
    border: none;
    scale: 1.1;
}

.button:active {
    scale: 1;
}



/* STYLE FOR THE INCREASE BUTTON */
.decrease {
    color: var(--red);
    border: 2px solid var(--red);
}

.decrease::before {
    background-color: var(--red);
}

.decrease:hover {
    color: var(--bg);
    box-shadow: 0 0px 20px var(--red);
}



/* STYLE FOR THE INCREASE BUTTON */
.reset {
    color: var(--yellow);
    border: 2px solid var(--yellow);
}

.reset::before {
    background-color: var(--yellow);
}

.reset:hover {
    color: var(--bg);
    box-shadow: 0 0px 20px var(--yellow);
}


/* STYLE FOR THE INCREASE BUTTON */
.increase {
    color: var(--green);
    border: 2px solid var(--green);
}

.increase::before {
    background-color: var(--green);
}

.increase:hover {
    color: var(--bg);
    box-shadow: 0 0px 20px var(--green);
}




@media screen and (max-width: 600px) {
    .toggle-container {
        top: 1%;
        right: 3%;
    }

    .title h1 {
        font-size: 30px;
    }

    .inner-card {
        width: 300px;
        height: auto;
    }

    .buttonContainer {
        gap: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .button {
        height: 40px;
        width: 150px;
    }
}